main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vw;
}

.newsletter-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.newsletter-form h2 {
    margin-bottom: 15px;
    color: #333;
}
.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
        
.newsletter-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.newsletter-form input[type="submit"]:hover {
    background-color: #45a049;
}
        
.newsletter-form p {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}
